{% extends 'base.html' %}

{% block title %}
    Добавление плана закупки
{% endblock %}

{% block body %}
    <p></p>
    <h1>{{ title }}</h1>
        <div class="containerr">
            <form action="/add_plan" method="post" class="form-contact">
                <p><label>Введите название предмета:</label> <input type="text" name="name" value="" required /></p>
                <p><label>Введите количество:</label> <input type="number" name="quantity" value="" required /></p>
                <p><label>Введите стоимость:</label> <input type="number" name="cost" value="" required /></p>
                <p><label>Введите поставщика:</label> <input type="text" name="provider" value="" required /></p>
                <p><input type="submit" value="Добавить" /></p>
            </form>
        </div>
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{msg}}</div>
        {% endfor %}
{% endblock %}