{% extends "base.html" %}

{% block title %}
    Мои заявки
{% endblock %}

{% block body %}
    <h1>Список предметов</h1>
    <table>
        <thead>
            <tr>
                <th>Владелец</th>
                <th>Предмет</th>
                <th>Количество</th>
                <th>Статус</th>
            </tr>
        </thead>
    <tbody>
        {% for p in inventory %}
            <tr>
                <td>{{ p[4] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <p></p>
    {% for msg in get_flashed_messages() %}
        <div class="flash">{{msg}}</div>
    {% endfor %}
{% endblock %}

