{% extends 'base.html' %}
{% block title %}
    Регистрация
{% endblock %}
{% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
{% endfor %}
{% block body %}
    <h1>{{ title }}</h1>
        <div class="containerr">
            <form action="/reg" method="post" class="form-contact">
              <p>
                    <label>Имя:</label>
                    <div class="input-wrapper">
                         <input type="text" name="name" placeholder="Введите ваше имя" value="" required />
                    </div>
                 </p>
                <p>
                    <label>Email:</label>
                    <div class="input-wrapper">
                        <span class="input-icon email-icon"></span>
                        <input type="text" name="email" placeholder="Введите ваш email" value="" required />
                    </div>
                 </p>
                <p>
                    <label>Пароль:</label>
                    <div class="input-wrapper">
                        <span class="input-icon password-icon"></span>
                         <input type="password" name="psw" placeholder="Введите ваш пароль" value="" required />
                    </div>
                </p>
                 <p>
                    <label>Повтор пароля:</label>
                    <div class="input-wrapper">
                        <span class="input-icon password-icon"></span>
                        <input type="password" name="psw2" placeholder="Повторите ваш пароль" value="" required />
                    </div>
                 </p>
                <p><input type="submit" value="Регистрация" /></p>
            </form>
        </div>
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{msg}}</div>
        {% endfor %}
{% endblock %}